<br/>

<h1>New Bill</h1>
<br/>
<%= form_with(model: @bill, local: true) do |form| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
        <% @bill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row g-3 ">
  <div class="field form-group col-md-4">
    <%= form.label :type ,class: "form-label" %>
    <%= form.collection_select :type, Bill::TYPES.map { |type| [type, type] }, :first, :last, { prompt: 'Select Bill Type' }, { class: 'form-select' } %>

  </div>

  <div class="field form-group col-md-4">
    <%= form.label :amount ,class: "form-label" %>
    <div class="input-group" >
          <span class="input-group-text" id="inputGroupPrepend">₹</span>

    <%= form.number_field :amount, class: "form-control", step: 0.01 %>
    </div>
  </div>

  <div class="field form-group col-md-8">
    <%= form.label :employee_id, "Employee" ,  { class: 'form-label' }%>
    <%= form.collection_select :employee_id, @employees, :id, :full_name, { prompt: 'Select an Employee' }, { class: 'form-select' } %>
  </div>
  <br/>
  <br/>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
  </div>
<% end %>
<br/>
<%= link_to 'Back', bills_path, class: "btn btn-secondary" %>
